In [1]:
import pandas as pd

### Задание 1. Загрузка данных Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [2]:
# Загрузка данных, замена нечитаемых символов на NaN
missing_values = ['?']
df = pd.read_csv('horse_data.csv', na_values = missing_values)
df.columns = ['surgery', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data']
df.head()

,surgery,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion1,type of lesion2,type of lesion3,cp_data
0,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
1,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
2,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
3,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2
4,2.0,1,528355,NaN,NaN,NaN,2.0,1.0,3.0,1.0,...,NaN,NaN,NaN,NaN,1.0,2,0,0,0,2

In [3]:
# Удаление лишних столбцов
horse_data = df.drop(['Hospital Number', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'surgical lesion?', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data'], axis=1)
horse_data

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [4]:
horse_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery                     298 non-null    float64
 1   Age                         299 non-null    int64
 2   rectal temperature          239 non-null    float64
 3   pulse                       275 non-null    float64
 4   respiratory rate            241 non-null    float64
 5   temperature of extremities  243 non-null    float64
 6   pain                        244 non-null    float64
 7   outcome                     298 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.8 KB

### Задание 2. Первичное изучение данных Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [5]:
# расчет базовых статистик
horse_data.describe()

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,298.000000,299.00000,239.000000,275.000000,241.000000,243.000000,244.000000,298.000000
mean,1.395973,1.64214,38.166527,71.934545,30.427386,2.345679,2.942623,1.550336
std,0.489881,2.17730,0.733508,28.680522,17.678256,1.046369,1.303993,0.737967
min,1.000000,1.00000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.00000,37.800000,48.000000,18.000000,1.000000,2.000000,1.000000
50%,1.000000,1.00000,38.200000,64.000000,24.000000,3.000000,3.000000,1.000000
75%,2.000000,1.00000,38.500000,88.000000,36.000000,3.000000,4.000000,2.000000
max,2.000000,9.00000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

#### Поиск выбросов по столбцам с количественным типом данных и не значительными колебаниями в целом

In [6]:
q1_rec = horse_data['rectal temperature'].quantile(0.25)
q3_rec = horse_data['rectal temperature'].quantile(0.75)
iqr_rec = q3_rec - q1_rec
lower_bound_rec = q1_rec - (1.5 * iqr_rec) 
upper_bound_rec = q3_rec + (1.5 * iqr_rec)
remove_outliers_rec = horse_data[horse_data['rectal temperature'].between(lower_bound_rec, upper_bound_rec, inclusive=True)].sort_values('rectal temperature')
remove_outliers_rec

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
112,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
276,2.0,1,36.9,50.0,40.0,2.0,1.0,1.0
291,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
69,2.0,1,37.0,60.0,20.0,3.0,3.0,3.0
262,1.0,1,37.1,75.0,36.0,NaN,4.0,2.0
...,...,...,...,...,...,...,...,...
119,1.0,1,39.4,54.0,66.0,1.0,2.0,1.0
286,2.0,9,39.5,84.0,30.0,NaN,NaN,1.0
161,2.0,1,39.5,60.0,10.0,3.0,3.0,1.0
230,2.0,1,39.5,92.0,28.0,3.0,5.0,2.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0

In [7]:
# Выбросы
pd.concat([horse_data, remove_outliers_rec]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
6,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
7,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
15,1.0,9,NaN,128.0,36.0,3.0,4.0,2.0
19,1.0,1,39.9,72.0,60.0,1.0,5.0,1.0
...,...,...,...,...,...,...,...,...
273,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
280,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
292,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
294,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0

In [8]:
q1_pul = horse_data['pulse'].quantile(0.25)
q3_pul = horse_data['pulse'].quantile(0.75)
iqr_pul = q3_pul - q1_pul
lower_bound_pul = q1_pul - (1.5 * iqr_pul) 
upper_bound_pul = q3_pul + (1.5 * iqr_pul)
remove_outliers_pul = horse_data[horse_data['pulse'].between(lower_bound_pul, upper_bound_pul, inclusive=True)].sort_values('pulse')
remove_outliers_pul

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
129,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
231,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
275,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0
202,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
241,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
...,...,...,...,...,...,...,...,...
147,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
134,1.0,9,38.1,136.0,48.0,3.0,5.0,2.0
43,1.0,1,35.4,140.0,24.0,3.0,4.0,3.0
102,1.0,9,38.0,140.0,68.0,1.0,3.0,1.0
38,1.0,9,39.2,146.0,96.0,NaN,NaN,2.0

In [9]:
# Выбросы
pd.concat([horse_data, remove_outliers_pul]).drop_duplicates(keep=False)

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
40,2.0,9,39.0,150.0,72.0,NaN,NaN,1.0
51,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
54,1.0,9,38.6,160.0,20.0,3.0,3.0,2.0
57,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
73,1.0,9,NaN,NaN,NaN,NaN,NaN,2.0
92,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
114,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
116,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
125,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
150,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
158,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
159,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
173,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
203,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0
215,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
226,1.0,9,NaN,NaN,NaN,NaN,NaN,1.0
254,1.0,9,38.8,184.0,84.0,1.0,4.0,2.0
274,1.0,9,38.8,150.0,50.0,1.0,5.0,2.0

#### По полученным выбросам не возможно принять решение об удалении данных строк, т.к. необходима дополнительная информация по каждому животному. Возможно это не является отклонением при учете других показателей.

### Задание 3. Работа с пропусками Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [10]:
# Расчет количества пропусков
(horse_data.isna().mean() * 100).round(2)

surgery                        0.33
Age                            0.00
rectal temperature            20.07
pulse                          8.03
respiratory rate              19.40
temperature of extremities    18.73
pain                          18.39
outcome                        0.33
dtype: float64

In [11]:
# Формирование нового дата фрейма без пропусков
hd = pd.read_csv('horse_data.csv', na_values = missing_values)
hd.columns = ['surgery', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome', 'surgical lesion?', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data']
new_horse_data = hd.drop(['Hospital Number', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'surgical lesion?', 'type of lesion1', 'type of lesion2', 'type of lesion3', 'cp_data'], axis=1)

In [12]:
#Пропуски столбца с болью заменяем медианой по столбцу,
#без взаимосвязи с другими показателями, т.к. определение боли субъективно
fill_median_by_pain = new_horse_data
fill_median_by_pain['pain'].fillna(new_horse_data['pain'].median(), inplace=True)

In [13]:
#Пропуски столбца с ректальной температурой заменяем медианой по столбцу, 
#в соответствии с возможной взаимосвязью по наличию боли
fill_median_by_rectal_temperature = new_horse_data
fill_median_by_rectal_temperature['rectal temperature'].fillna(new_horse_data.groupby(['pain'])['rectal temperature'].transform('median'), inplace=True)

In [14]:
#Пропуски столбца с хирургическим вмешательством заменяем медианой по столбцу,
#в соответствии с возможной взаимосвязью по ректальной температуре и наличию боли
fill_median_by_surgery = new_horse_data
fill_median_by_surgery['surgery'].fillna(new_horse_data.groupby(['rectal temperature', 'pain'])['surgery'].transform('median'), inplace=True)

In [15]:
#Пропуски столбца с пульсом заменяем медианой по столбцу, 
#в соответствии с возможной взаимосвязью по ректальной температуре
fill_median_by_pulse = new_horse_data
fill_median_by_pulse['pulse'].fillna(new_horse_data.groupby('rectal temperature')['pulse'].transform('median'), inplace=True)

In [16]:
#Пропуски столбца с частотой дыхания заменяем медианой по столбцу, 
#без взаимосвязи с другими показателями, т.к. полезность показателя частоты дыхания сомнительна из-за больших колебаний
fill_median_by_respiratory_rate = new_horse_data
fill_median_by_respiratory_rate['respiratory rate'].fillna(new_horse_data['respiratory rate'].median(), inplace=True)

In [17]:
#Пропуски столбца с температурой конечностей заменяем медианой по столбцу,
#в соответствии с возможной взаимосвязью по ректальной температуре
fill_median_by_temperature_of_extremities = new_horse_data
fill_median_by_temperature_of_extremities['temperature of extremities'].fillna(new_horse_data.groupby('rectal temperature')['temperature of extremities'].transform('median'), inplace=True)

In [18]:
#Пропуски столбца с состоянием лошади заменяем медианой по столбцу,
#в соответствии с возможной взаимосвязью по ректальной температуре, проведению операции и возрастом
fill_median_by_outcome = new_horse_data
fill_median_by_outcome['outcome'].fillna(new_horse_data.groupby(['rectal temperature', 'surgery', 'Age'])['outcome'].transform('median'), inplace=True)

In [19]:
new_horse_data

,surgery,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,1.0,1,39.2,88.0,20.0,4.0,3.0,3.0
1,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
2,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
3,2.0,1,37.3,104.0,35.0,1.0,3.0,2.0
4,2.0,1,38.3,70.0,24.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
294,1.0,1,38.3,120.0,70.0,4.0,2.0,3.0
295,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
296,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
297,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
298,1.0,1,37.2,40.0,20.0,2.5,3.0,3.0

In [20]:
print(horse_data.describe())
print('-----------------------------------')
print(new_horse_data.describe())

          surgery        Age  rectal temperature       pulse  \
count  298.000000  299.00000          239.000000  275.000000
mean     1.395973    1.64214           38.166527   71.934545
std      0.489881    2.17730            0.733508   28.680522
min      1.000000    1.00000           35.400000   30.000000
25%      1.000000    1.00000           37.800000   48.000000
50%      1.000000    1.00000           38.200000   64.000000
75%      2.000000    1.00000           38.500000   88.000000
max      2.000000    9.00000           40.800000  184.000000

       respiratory rate  temperature of extremities        pain     outcome
count        241.000000                  243.000000  244.000000  298.000000
mean          30.427386                    2.345679    2.942623    1.550336
std           17.678256                    1.046369    1.303993    0.737967
min            8.000000                    1.000000    1.000000    1.000000
25%           18.000000                    1.000000    2.000000    1.000000
50%           24.000000                    3.000000    3.000000    1.000000
75%           36.000000                    3.000000    4.000000    2.000000
max           96.000000                    4.000000    5.000000    3.000000
-----------------------------------
          surgery        Age  rectal temperature       pulse  \
count  299.000000  299.00000          299.000000  299.000000
mean     1.394649    1.64214           38.156856   71.364548
std      0.489595    2.17730            0.657975   27.721606
min      1.000000    1.00000           35.400000   30.000000
25%      1.000000    1.00000           37.900000   48.000000
50%      1.000000    1.00000           38.200000   64.000000
75%      2.000000    1.00000           38.500000   88.000000
max      2.000000    9.00000           40.800000  184.000000

       respiratory rate  temperature of extremities        pain     outcome
count        299.000000                  297.000000  299.000000  299.000000
mean          29.180602                    2.341751    2.953177    1.551839
std           16.067835                    0.999260    1.177736    0.737187
min            8.000000                    1.000000    1.000000    1.000000
25%           20.000000                    1.000000    2.000000    1.000000
50%           24.000000                    3.000000    3.000000    1.000000
75%           34.500000                    3.000000    4.000000    2.000000
max           96.000000                    4.000000    5.000000    3.000000